body{
  width: 600px;

}
.article{
  transform: translateX(80%);
  border: 1px solid grey;
  border-radius: 10px;
}
h2{
  font-family:sans-serif;
  border-bottom: dashed 1px rgb(0,0,0,0.3);
}
.detail-article{
  text-align: center;
  line-height:1.5;
  color: #7b7b7b;
  margin-bottom: 25px;
}
.detail-article>p{
  text-align: justify;

}
a{
  border-radius: 200px/50px;
  text-decoration: none;
  color: white;
  padding: 15px;
  background-color: rgb(159,108,255);
}
/*1) Appliquez une bordure solid de couleurrgba(0,0,0,0.3) et un arrondi
de 10px. Ajoutez les marges qui conviennent et une hauteur de ligne à 1.5.
2) Donnez au titre une bordure du bas pointillée et une police.
3) Pour la classe "detail-article" appliquez un alignement centré
de texte pour centrer le lien.
4) Appliquez la couleur #7b7b7b, une taille de 1em, et un alignement
justifié au paragraphe fils de la classe "detail-article".
5) Le lien avec une bordure de forme elliptique 200px/50px.
*/
